[submodule "bin/rigaudon"]
	path = bin/rigaudon
	url = https://fbaumgardt@github.com/OpenPhilology/rigaudon.git
[submodule "bin/cophiproofreader"]
	path = bin/cophiproofreader
	url = https://fbaumgardt@github.com/OpenPhilology/cophiproofreader.git
[submodule "bin/hocrinfoaggregator"]
	path = bin/hocrinfoaggregator
	url = https://fbaumgardt@github.com/OpenPhilology/hocrinfoaggregator.git
